.recipe-page{
    width: 1000px;
    height: 1500px;
    background-color: lemonchiffon;
    padding-top: 30px;
    margin: 50px auto;
   
}
.container{
    width: 500px;
    height: 1280px;
    background-color: white;
    border-radius: 20px;
    margin: 50px auto;
    padding: 25px 25px;
    
}
.img{
    width: 100%;
    border-radius: 20px;
}
p{
    width: 500px;
    font-size: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.box{
    width: 100%;
    background-color: rgba(221, 176, 190, 0.233);
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: 25px;
    padding-bottom: 10px;
}
h4{
    padding-left: 10px;
    padding-top: 10px;
    color: rgb(247, 36, 106);
}
 li{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
   
} 
b{
    font-size: smaller;
}
h2{
    color: rgb(158, 62, 62);
   
}
.ingredians{
    border-bottom: 1px solid rgba(0, 0, 0, 0.151);
}
.instructions{
    border-bottom: 1px solid rgba(0, 0, 0, 0.151);

}
.bottom1{
    margin-left: 230px;
    color: rgb(158, 62, 62);
    font-size: 12px;
    font-weight: bolder;
    
}
.bottom2{
    margin-left: 243px;
    color: rgb(158, 62, 62);
    font-size: 12px;
    font-weight: bolder;
    
}
.bottom3{
    margin-left: 234px;
    color: rgb(158, 62, 62);
    font-size: 12px;
    font-weight: bolder;
    
}
.bottom4{
    margin-left: 257px;
    color: rgb(158, 62, 62);
    font-size: 12px;
    font-weight: bolder;
    
}
.nutrition1{
    border-bottom: 1px solid rgba(0, 0, 0, 0.151);

}
.nutrition2{
    border-bottom: 1px solid rgba(0, 0, 0, 0.151);

}
.nutrition3{
    border-bottom: 1px solid rgba(0, 0, 0, 0.151);

}

@media(max-width: 576px){
    .recipe-page{
        width: 100%;
        height: 100%;  
    }

}